<div class="footer">
    <div class="container">
        <div class="footerLogos">
            <ul class="footerList">
                <li><a href="mailto:zahmryan@msu.edu"><i class="fa fa-3x fa-envelope-square" aria-hidden="true"></i></a></li>
                <li><a href="https://github.com/zahmryan"><i class="fa fa-3x fa-github-square" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/zahmryan"><i class="fa fa-3x fa-linkedin-square" aria-hidden="true"></i></a></li>
                <li><a href="tel:1-248-974-1086"><i class="fa fa-3x fa-phone-square" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="underFooter">
    <p>Ryan Zahm's Personal Site, Created With NodeJS and Bootstrap</p>
</div>
