<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>

    <div class="container">
        <h2>Contact Information</h2>
        <b>Ryan Robert Zahm</b>
        <span class="glyphicon glyphicon-phone"></span> Phone: <a href="tel:1-248-974-1086">(248)-974-1086</a>
        <span class="glyphicon glyphicon-envelope"></span> Email: <a href="mailto:zahmryan@msu.edu">zahmryan@msu.edu</a>
    </div>

</body>
</html>