<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/BeautifulMan.png">
    </a>
    <h1>Ryan Zahm</h1>
    <p class="subheader">Software Dev, Michigan State University</p>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/zahmryan/Personal-Site"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="row">
      Ryan Zahm graduated from Michigan State University in May 2016 with a Bachelor in Computer Science and Engineering.
  </div>
</div>

  <% include ../partials/footer.ejs %>

</body>
</html>
