<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>

    <div class="container">
        <div class="alert alert-success">
            Click on the resume image to download a .doc copy of the resume
        </div>
        <div class="resumeImg"><a href="/Resume.doc" download><img src="/MyResume.png"></a></div>
    </div>

</body>
</html>